@import '../../styles/alignment';
@import '../../styles/colors';

.train-route-selector {
  display: flex;
  flex-direction: column;
}

.selector-toggle-btn {
  margin-left: auto;
  color: $white;
  border-color: $white;

  &:hover {
    border-color: #17a2b8;
  }
}

.selector-route-btns {
  @include flex-wrapper;
  background-color: $gray;
  border-radius: 20px;
  margin-top: 1rem;

  span {
    @include flex-center;
  }
}

.train-route-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.5);

  &:hover {
    opacity: 0.7;
  }

  @media only screen and (max-width: 767px) {
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 0;
    margin: 7.5px;
  }
}